<!doctype html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <title>Hello, world!</title>
</head>
<body>
<!--메뉴시작-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">중고쇼핑몰</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/goods">제품</a>
        </li>
        <!--로그인 전 페이지-->
        <li class="nav-item">
          <a class="nav-link" href="/member/join">회원가입</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/member/login">로그인</a>
        </li>
        <!--로그인 후-->
        <!--<li class="nav-item">
            <a class="nav-link" href="/member/edit">정보수정</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/member/logout">로그아웃</a>
        </li>-->

        <li class="nav-item">
          <a class="nav-link" href="/notice">고객센터</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!--메뉴끝-->
<div class="container my-5">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/goods/">전체 > </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/goods/1">노트북</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/goods/2">휴대폰</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/goods/3">TV</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/goods/4">카메라</a>
  </li>

</ul>
</div>
<!--최신 상품 목록 -->
<div class="container my-5">
  <div class="row">
    <div class="col text-center mb-2"><h2>인기상품</h2></div>
  </div>
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <a href="/goods/detail">
        <div class="card">
          <img src="https://cdn.pixabay.com/photo/2015/03/07/08/18/smartphones-662904_1280.jpg" class="card-img-top" alt="..." height="250px">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2014/09/24/14/29/macbook-459196_1280.jpg" class="card-img-top" alt="..." height="250px">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2017/08/07/01/41/camera-2598507_1280.jpg" class="card-img-top" alt="..." height="250px">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2017/08/30/23/42/mobile-phone-2698971_1280.jpg" class="card-img-top" alt="..." height="250px">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2014/02/22/19/56/display-272270_1280.jpg" class="card-img-top" alt="..." height="250px">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2014/09/28/11/25/imac-464737_1280.jpg" class="card-img-top" alt="..." height="250px">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2016/09/13/00/05/babuschka-1666132_1280.jpg" class="card-img-top" alt="..." height="250px">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2014/11/09/21/44/teddy-bear-524251_1280.jpg" class="card-img-top" alt="..." height="250px">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2016/11/18/19/39/backpack-1836594_1280.jpg" class="card-img-top" alt="..." height="250px">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>


</div>
<!--최신 상품 목록 끝-->

<!--푸터시작-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<!--푸터 끝-->



<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>